<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Registor.Properties.Settings.RegAndAvtConnectionString1"
            connectionString="Data Source=PC\SQLEXPRESS;Initial Catalog=RegAndAvt;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Registor.Properties.Settings.RegAndAvtConnectionString"
            connectionString="Data Source=ASUS;Initial Catalog=RegAndAvt;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Registor.Properties.Settings.ComputerShopConnectionString"
            connectionString="Data Source=ASUS;Initial Catalog=ComputerShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>